<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet" href="main.css" type="text/css" />
    </head>
    <body>
        
        <div class="flex">
            <div id="btn" ng-click="swap()">Big Red Button</div>
        </div>
        
        <div id='popup'>
            <div class="popupBtn" ng-click="swap()">Make it go away!</div>
        </div>
        
                    <!--======= scripts =======-->
        <script type="text/javascript" src="myApp.js"></script>
        <script type="text/javascript" src="myCtrl.js"></script>
        
    </body>
</html>